<h1 >app component html</h1>
<section>
  <div class="example-button-row">
    <button (click)="einloggen($event)" mat-raised-button color="blue">Eingabe</button>
  </div>
</section>

<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList cdkDropListOrientation="horizontal"
    #todoList="cdkDropList"
    [cdkDropListData]="timeline"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of timeline" cdkDrag>{{item.name}}</div>
  </div>
</div>
<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.name}}</div>
  </div>
